/* ----- Variables ----- */
$primary-color-1 : #F6CD40;
$primary-color-2 : #323868;
$primary-color-3 : #282C53;
$primary-color-4 : #1C1F3D;
$primary-color-5 : #71388B;
$primary-color-6 : #5A266D;
$primary-color-7 : #881F6A;
$primary-color-8 : #C9116A;
$primary-color-9 : #B91466;
$black : #000;
$white : #fff;
$degrade-1 : linear-gradient(to right bottom, #1c1f3d, #30244f, #4b275d, #682566, #881f6a);
$font-1 : "Commando", "Josefin Sans", Helvetica, Arial, sans-serif;
$font-2 : "Josefin Sans", Helvetica, Arial, sans-serif;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }

    #{$property}: $value;
}

#carousel {
    width: 100%;
    height: calc(100vh - 210px);
    position: relative;

    .carousel {
        height: 100%;

        .carousel-inner {
            height: 100%;

            .carousel-item {
                height: 100%;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;

    .title {
        position: relative;

        .title-contenu {
            z-index: 2;
            position: relative;
            padding: 2em 3em;
            border-radius: 15px;
            background-color: $white;
        }

        .title-shadow {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-47%, -40%);
            background-color: #F6CD40;
            border-radius: 15px;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
}


@media (max-width:576px){
    .title-container {
        width: 75%;

        h1 {
            font-size: 1.5em;
        }

        .subtitle {
            font-size: 1em;
        }

        .title {
            .title-shadow {
                display: none;
            }
        }
    }
}

@media (max-width:768px){
    .title-container {
        width: 75%;

        h1 {
            font-size: 1.5em;
        }

        .subtitle {
            font-size: 1em;
        }

        .title {
            .title-shadow {
                display: none;
            }
        }
    }
}

@media (max-width:992px){
    .title-container {
        width: 70%;
    }
}