/* ----- Variables ----- */
$primary-color-1 : #F6CD40;
$primary-color-2 : #323868;
$primary-color-3 : #282C53;
$primary-color-4 : #1C1F3D;
$primary-color-5 : #71388B;
$primary-color-6 : #5A266D;
$primary-color-7 : #881F6A;
$primary-color-8 : #C9116A;
$primary-color-9 : #B91466;
$black : #000;
$white : #fff;
$degrade-1 : linear-gradient(to right bottom, #1c1f3d, #30244f, #4b275d, #682566, #881f6a);
$font-1 : "Commando", "Josefin Sans", Helvetica, Arial, sans-serif;
$font-2 : "Josefin Sans", Helvetica, Arial, sans-serif;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }

    #{$property}: $value;
}

// Import de la font Commando
@font-face{
    font-family: "Commando";
    font-weight: 800;
    src: url("../fonts/commando.eot");
    src: url("../fonts/commando.svg");
    src: url("../fonts/commando.ttf");
    src: url("../fonts/commando.woff");
    src: url("../fonts/commando.woff2");
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: $font-2;
    font-weight: 400;
    scroll-behavior: smooth;
}


.image-responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


// titles
h1, h3 {
    font-family: $font-1;
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    font-size: 1.5rem;
}

h3, h4 {
    font-size: 1.1rem;
}

h1,h2 {
    font-family: $font-1;
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2, h3 {
    padding-bottom: 1rem;
}

h2, h3, h4 {
    text-align: center;
}

// sous-titres
.subtitle {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1.2em;
}

// boutons
.btn-primary {
    color: #fff;
    background-color: $white;
    border-color: $white;
    @include property_complex(box-shadow, 5px 5px 0 $primary-color-2, o moz webkit ms khtml);
    color: $black;
}

.btn-primary:hover {
    color: #fff;
    background-color: $primary-color-2;
    border-color: $primary-color-2;
    @include property_complex(box-shadow, 5px 5px 0 $white, o moz webkit ms khtml);
    color: $white;
}

.btn {
    margin-top: 2em;
}

// liens
a {
    color: $black;
}

a:hover {
    color: $black;
    text-decoration: none;
}