/* ----- Variables ----- */
$primary-color-1 : #F6CD40;
$primary-color-2 : #323868;
$primary-color-3 : #282C53;
$primary-color-4 : #1C1F3D;
$primary-color-5 : #71388B;
$primary-color-6 : #5A266D;
$primary-color-7 : #881F6A;
$primary-color-8 : #C9116A;
$primary-color-9 : #B91466;
$black : #000;
$white : #fff;
$degrade-1 : linear-gradient(to right bottom, #1c1f3d, #30244f, #4b275d, #682566, #881f6a);
$font-1 : "Commando", "Josefin Sans", Helvetica, Arial, sans-serif;
$font-2 : "Josefin Sans", Helvetica, Arial, sans-serif;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }

    #{$property}: $value;
}

footer {
    padding: 5em 0 0 0;
    background-color: $primary-color-2;
    color: $white;


    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 0.3em 0;
        }

        a {
            color: $white;
        }
        a:hover {
            color: $white;
            font-weight: 600;
            text-decoration: none;
        }
    }

    .tel-aide {
        text-align: center;
    }

    .horaires {
        text-align: center;
    }

    .rs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 0 2em 0;

        .img-rs {
            padding: 0 0.5em;

            i {
                font-size: 1.5em;
                color: $white;
                @include property_complex(transition, ease 0.3s, o moz webkit ms khtml);
            }

            i:hover {
                @include property_complex(transition, ease 0.3s, o moz webkit ms khtml);
                transform: rotate(9deg);
            }
        }
    }

    .copyright {
        margin-top: 3em;
        padding: 1em 0;
        background-color: $primary-color-4;

        p {
            margin-bottom: 0;
            text-align: center;
            font-size: 0.9em;
            opacity: 0.8;
            font-weight: 300;
        }
    }
}

@media (max-width:769px){
    footer {
        ul {
            text-align: center;
        }

        .footer-section {
            padding: 2em 0;
        }
    }
}