/* ----- Variables ----- */
$primary-color-1 : #F6CD40;
$primary-color-2 : #323868;
$primary-color-3 : #282C53;
$primary-color-4 : #1C1F3D;
$primary-color-5 : #71388B;
$primary-color-6 : #5A266D;
$primary-color-7 : #881F6A;
$primary-color-8 : #C9116A;
$primary-color-9 : #B91466;
$black : #000;
$white : #fff;
$degrade-1 : linear-gradient(to right bottom, #1c1f3d, #30244f, #4b275d, #682566, #881f6a);
$font-1 : "Commando", "Josefin Sans", Helvetica, Arial, sans-serif;
$font-2 : "Josefin Sans", Helvetica, Arial, sans-serif;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }

    #{$property}: $value;
}

// @include property_complex(box-shadow, 0px 3px 4px rgba(0, 0, 0, 0.6), o moz webkit ms khtml);

// header
header {
    .padding-header {
        padding: 1em 0;
        flex-wrap: nowrap;

        .logo-gamezone {
            width: 10em;
        }
    
        .align-infos-user{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;

            .infos-user {

                .pseudo {
                    font-family: $font-1;
                    font-size: 1em;
                }

                .exp {
                    font-size: 1em;
                    text-transform: uppercase;
                    font-weight: 600;
                }

                p {
                    margin-block-start: 0;
                    margin-block-end: 0;
                    margin-top: 0;
                    margin-bottom: 0;
                    text-align: right;
                }
            }

            .round-avatar {
                margin-left: 1em;
                width: 4em;
                height: 4em;
                border-radius: 100px;
                background-color: $primary-color-2;
                opacity: 0.3;
                position: relative;
            }

            .image-avatar {
                position: absolute;
                width: 6em;
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
    }
}

// nav
nav {
    background-color: $primary-color-1!important;
    padding: 0.5em 0;

    #navbar {
        ul {
            margin: auto;
        }

        a {
            font-family: $font-1;
            font-size: 1.2em;
            color: $black;
        }
        
        a:hover {
            color: $primary-color-2;
        }

        .dropdown-menu {
            a {
                font-size: 1em;
            }

            a:hover {
                color: $black;
            }
        }

        .dropdown-item:active {
            background-color: $primary-color-1;
        }

        .dropdown-item:hover {
            color: $black;
            background-color: rgba($primary-color-1, 0.4);
        }
    }
}


// style menu bootstrap
.bg-light{
    background-color: $primary-color-1!important;
}

.navbar-light {
    .navbar-toggler {
        border: none;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

button:focus {
    outline: none;
}




// responsive
@media(max-width: 576px){
    header {
        .padding-header {

            .logo-gamezone {
                width: 7em;
            }

            .align-infos-user {

                .round-avatar {
                    margin-left: 1em;
                    width: 3em;
                    height: 3em;
                }

                .image-avatar {
                    width: 5em;
                }
            } 
        } 
    } 
}