/* ----- Variables ----- */
$primary-color-1 : #F6CD40;
$primary-color-2 : #323868;
$primary-color-3 : #282C53;
$primary-color-4 : #1C1F3D;
$primary-color-5 : #71388B;
$primary-color-6 : #5A266D;
$primary-color-7 : #881F6A;
$primary-color-8 : #C9116A;
$primary-color-9 : #B91466;
$black : #000;
$white : #fff;
$degrade-1 : linear-gradient(to right bottom, #1c1f3d, #30244f, #4b275d, #682566, #881f6a);
$font-1 : "Commando", "Josefin Sans", Helvetica, Arial, sans-serif;
$font-2 : "Josefin Sans", Helvetica, Arial, sans-serif;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }

    #{$property}: $value;
}


#presentation-parc {
    padding: 5em 0;

    .img-parc {
        width: 100%;
        height: 25em;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .presentation {
        padding: 1em 0;
    }

    .fond-infos {
        margin-top: 2em;
        background-image: $degrade-1;
        padding: 2em 2em;
        border-radius: 15px;

        p {
            color: $white;
            padding: 0;
            margin-block-start: 0;
            margin-block-end: 0;
            text-align: center;
            font-family: $font-1;
        }

        .number {
            font-size: 2em;
        }

        .number-subtitle {
            font-size: 1.2em;
        }
    }
}

#attractions-phares {
    padding: 5em 0;
    background-color: $primary-color-1;

    .card-attration {
        padding: 1.5em;
        background-color: $white;
        border-radius: 15px;
        width: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 1em;

        .img-attraction {
            height: 12em;
            width: auto;
            margin: auto;
            margin-bottom: 2em;

            img {
                object-fit: contain;
            }
        }

        .accessible-info {
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
        }

        .infos-generales {
            text-align: justify;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }

        .attraction-color {
            opacity: 0.4;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0px;
            height: 0px;
        }

        .attraction-color-1 {
            border-top: 10em solid transparent;
            border-left: 20em solid $primary-color-5;
        }

        .attraction-color-2 {
            border-top: 10em solid transparent;
            border-left: 20em solid $primary-color-7;
        }
    }
}

@media (max-width:992px){
    #presentation-parc {
        .fond-infos{
            .info {
                padding: 2em 0;
            }
        }
    }

    #attractions-phares {
        .align-cards-attraction {
            flex-direction: column;
        }
    }
}