/* ----- Variables ----- */
$primary-color-1 : #F6CD40;
$primary-color-2 : #323868;
$primary-color-3 : #282C53;
$primary-color-4 : #1C1F3D;
$primary-color-5 : #71388B;
$primary-color-6 : #5A266D;
$primary-color-7 : #881F6A;
$primary-color-8 : #C9116A;
$primary-color-9 : #B91466;
$black : #000;
$white : #fff;
$degrade-1 : linear-gradient(to right bottom, #1c1f3d, #30244f, #4b275d, #682566, #881f6a);
$font-1 : "Commando", "Josefin Sans", Helvetica, Arial, sans-serif;
$font-2 : "Josefin Sans", Helvetica, Arial, sans-serif;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }

    #{$property}: $value;
}

#plan {
    padding: 5em 0;

    .filtre {
        padding: 2em;
        width: 100%;
        border: solid 2px $primary-color-4;
        border-radius: 5px;

        .custom-control-input {
            padding-left: 1em;
        }
        .custom-control-label {
            line-height: 2;
        }

        .checkbox-filtres {
            margin-left: 1em;

            .icon-marker {
                height: 1.5em;
                margin-left: 0.5em;
            }
        }
    }

    #map { 
        width: 100%;
        height: 500px;
        overflow: hidden;
    }

    .leaflet-container {
        background: $white;
        outline: 0;
    }
}